body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: dimgrey;
    color: #696969;
}
.square {
    width: 100%;
    border: 1px solid black;
    float: left;
}
.clearfix {
    clear:both;
}
#wrapper {
    width: inherit;
}
#secondWrapper{
    width: inherit;
}
.draggable {
    float:left;
    height: 27px;
    background-color: gray;
}
.long {
    width: 104px;
}
.short {
    width: 52px;
}
.draggable p {
    text-align: center;
    padding: -20px 0 0 0;
    font-weight:900;
}
.draggable.ui-draggable-dragging {
    background: red;
}
.ui.segment.square{
    margin: 0px;
}
.ui.vertical.menu.item{
    padding: 0px;
}
.text {
    padding: 0px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}
table{
    width: 100%;
}
td{
    height: 3vw ;
}
.colour{
    background: red;
}
.marked{
    background: orange;
}

